# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/

# Model artifacts
*.pth
*.zip

# System files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
*.bak
*.swp
*~

# VSCode/IDE settings
.vscode/
.idea/

# Hugging Face
/.gitattributes

# Others
report.pdf
overlayed.jpg
